@import "tailwindcss";

@custom-variant dark (&& :where(.dark, .dark *));

@theme {
  --font-sans: var(--font-vazirmatn), system-ui, sans-serif;
}
html.dark .logo-light{
  display: none;
}
html.dark .logo-dark{
  display: block;
}
.logo-dark{
  display: none;
}
.logo-light{
  display: block;
}
